@font-face {
    font-family: Nurito-reg, sans-serif;
    font-weight: 400;
    src: url(/assets/fonts/Nunito-Regular.ttf);
}

@font-face {
    font-family: Nurito-bold, sans-serif;
    font-weight: 700;
    src: url(/assets/fonts/Nunito-Bold.ttf);
}

body {
    font-family: Nurito;
}

.first-section {
    margin: 0 16px;
}

.first-section>h1 {
    font-size: 34px;
    font-family: Nurito-bold;
    color: #474747;
}

.first-section>h2 {
    font-size: 14px;
    font-family: Nurito-bold;
    color: #979ea6;
}

.aplifid-filters {
    display: flex;
    flex-direction: row;
    gap: 4px;
}

.filters {
    background: linear-gradient(270deg, #fd814a -12.71%, #fc5c4c 121.19%);
    border-radius: 10px;
    width: 121px;
    height: 41px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
    box-shadow: 0 5px 20px 0 #FD714B40;
    color: #FFFFFF;
}

.filters>button {
    background-color: transparent;
    border: transparent;
    cursor: pointer;
}

.galary {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    margin: 16px;
    border-radius: 10px;
    box-shadow: 0 5px 10px 0 #0000001A;
    display: grid;
    grid-template-areas:
        "first-img second-img"
        "first-img third-img"
        "foot foot";
    width: 343px;
    height: 225px;
}

.foot-card>button {
    width: 24px;
    height: 24px;
    border-radius: 5px;
    border: none;
    background-color: #C4C4C4;
}

.foot-card>span {
    font-size: 18px;
}

.foot-card {
    grid-area: foot;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 323px;
    height: 61px;
    padding: 0 10px;
}

.first-img-card {
    grid-area: first-img;
    width: 174px;
    height: 164px;
    object-fit: cover;
    border: 1px solid #FFFFFF;
    border-left: none;
    border-top-left-radius: 10px;
}

.second-img-card {
    grid-area: second-img;
    width: 167px;
    height: 82px;
    object-fit: cover;
    border: 1px solid #FFFFFF;
    border-top-right-radius: 10px;
}

.third-img-card {
    grid-area: third-img;
    width: 167px;
    height: 80px;
    object-fit: cover;
    border: 1px solid #FFFFFF;
}

.Illustation {
    margin: 0 16px;
}

.Illustation>h1 {
    font-size: 34px;
    font-family: Nurito-bold;
    color: #474747;
}

.Illustation>h2 {
    color: #686868;
    letter-spacing: 18%;
    font-size: 14px;
    font-family: Nurito-bold;
}

.horisontal {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.horisontal>div {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.horisontal span {
    color: #979EA6;
    font-size: 14px;
    font-family: Nurito-bold;
}

.horisontal img {
    width: 109px;
    height: 72px;
    border-radius: 8px;
    object-fit: cover;
    box-shadow: 0 5px 10px 0 #39787A78;
}

.pictures {
    display: grid;
    grid-template-columns: repeat(auto-fit, 162px);
    grid-template-rows: repeat(auto-fit, minmax(162px, 1fr));
    margin-top: 15px;
    gap: 20px;
}

.pictures img {
    box-shadow: 0 10px 15px 0 #31575B61;
    object-fit: cover;
    border-radius: 12px;
}

.big {
    width: 343px;
    height: 210px;
    border-radius: 16px;
    grid-column: span 2;
}

.half {
    width: 162px;
    height: 352px;
}

.small {
    width: 162px;
    height: 162px;
}